
background: linear-gradient(88deg, #ffffff, #0600ff, #ff0000, #eeff00, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
background-size: 2200% 2200%;

-webkit-animation: AnimationName 37s ease infinite;
-moz-animation: AnimationName 37s ease infinite;
-o-animation: AnimationName 37s ease infinite;
animation: AnimationName 37s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}
@keyframes AnimationName { 
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

* {
 font-family: 'Space Mono', monospace;
 line-height: 100%
}


button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd; 
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}



h1 {
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
text-decoration: underline;
}

.newsletter {
    padding: 3px
}
h4 {
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
text-decoration: none;
}

h3 { 
font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}

h2 {
    font-size: 11px;
    text-align: center;
    padding-right: 40px;
}

p {
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 130%;
}

a {
    color: #0008ff;
}

.back {
    height: 610px; 
    position: relative; 
    top: 0; 
    left:0;
    opacity: 0.2;
    filter: alpha(opacity=20);
}


.sideimg {
    max-width:85%; 
    max-height:100%; 
    border-style:solid; 
    border-color:white;
    display: block;
    padding-top: 0px;
    padding-right: 30px;
    margin: auto;
}


.cu {

    position: absolute;
    top:  33%;
    left: 47%;
     height: 30%;
}



.logo {
    background-color: rgba(0,0,0,0);
    height: 85px;
    width: 85px;
    position: absolute;
right:60%;
    bottom: 11%;

    -webkit-animation: spin .99s infinite linear;
    animation: spin .99s infinite linear;
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}





#rightbar {
    text-align: left;
}

#undone {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

@media only screen and (max-width: 900px) {
    .col-4                     {
        background-color: white;
    }
}

.slide {

max-height: 320px;
 padding:O;
}

.slide2 {

width: 100%;
 padding:O;
}

#sidebar {
    padding-right: 10px;
}

.grid {
    margin: 0 auto;
    width: 100%;
    height: 90%;
    max-height: 600px;
    max-width: 1600px;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.homepage {
    position: absolute;
    max-width: 500px;
    top: 0px;
}

.col-1 {
    width: 5%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.loc-3 {
    width: 25%;
    margin-top: 10px;
    max-height: 600px;
}

.col-4 {
    width: 33.33%;
}
.loc-5 {
    width: 41.66%;
    max-height: 700px;
    top: 2px;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: red;
}

a:active {
    text-decoration: underline;
    color: black;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 800px)  {
    .loc-5  { display:none }
    .loc-3 { display:none }
    p {font-size:50px;}
    a {font-size:50px;}
    h1 {font-size:50px;}
    .col-1 {width: 100%;}
}

@media only screen and (min-width: 799px) {
    /* For desktop: */
    .col-1 {width: 5%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


