
body { background: linear-gradient(254deg, #7de7ff, #ffffff, #08d1ff, #e8e8e8, #ffffff, #ffffff, #d1f7ff);
background-size: 1400% 1400%;

-webkit-animation: AnimationName 43s ease infinite;
-moz-animation: AnimationName 43s ease infinite;
animation: AnimationName 43s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@keyframes AnimationName { 
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}





.sideimg2 {
    max-width:10%; 
    max-height:10%;
-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;

}



.sideimg3 {
    max-width:10%; 
    max-height:10%;
    position: relative;


}

.sideimg4 {
    max-width:15%; 
    max-height:15%;
    position: relative;

}

.sideimg5 {
    max-width:3%; 
    max-height:3%;
    position: relative;

}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.one {
	position: absolute;
    max-width: 100%


}

.two {
	position: absolute;
}


html {
  height:100%;
  width:100%;
}


